*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: linear-gradient(to bottom, #151515, #595594);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

header{
	text-align: center;
	background-color: #B7B4EE;
	padding: 20px;
}

header h1{
	font-size: 2.2em;
	color: #303030;
}

section{
	box-shadow: inset 0 7px 6px -7px rgba(0, 0, 0, 0.5);
	text-align: center;
	background-color: #B7B4EE;
	max-width: 300px;
	min-height: 300px;
	padding: 10px;
	border-radius: 0px 0px 10px 10px;
	margin: auto;
	margin-bottom: 20px;
}

section img{
	margin-top: 10px;
}

section p{
	margin-top: 30px;
	font-size: 1.5em;
	font-weight: bold;
	color: #303030;
	margin-bottom: 40px;
}

section a{
	text-decoration: none;
	color: #B7B4EE;
	background-color: #303030;
	padding: 10px 15px;
	border-radius: 5px;
}

footer{
	text-align: center;
	padding: 5px;
	color: #101010;
}

footer p{
	font-size: 1.3em;
}

footer a{
	color: #101010;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer img{
	display: inline;
}