*{
	margin: 0;
	padding: 0;
}

:root{
	--color00: #787878;
	--color01: #585858;
	--color02: #404040;
	--color03: #252525;
	--color04: #202020;
	--color05: #181818;
}

body{
	font-family: Arial, Helvetica, Verdana, sans-serif;
	background-color: var(--color03);
	color: var(--color04);
}

header{
	background-color: var(--color00);
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
	color: var(--color03);
}

main{
	box-shadow: inset 0 7px 6px -7px var(--color05);
	background-color: var(--color01);
	max-width: 700px;
	margin: 0px auto 200px auto;
	padding: 15px;
	border-radius: 0px 0px 5px 5px;
}

footer{
	text-align: center;
	background-color: var(--color01);
	padding: 5px;
}

footer p{
	font-size: 1.3em;
}

footer a{
	color: var(--color04);
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer img{
	display: inline;
}